---
const { titre, clientReview, clientName, avatarSrc, fonction } = Astro.props;
---

<div class="w-[367px] h-[251px] rounded-lg border-2 border-black overflow-hidden p-6">
    <div class="text-center mb-6">
        <div class="font-bold text-xl mb-2">{titre}</div>
        <p class="text-gray-700 text-base">{clientReview}</p>
    </div>
    <div class="flex items-center mt-4">
        <img src={avatarSrc} alt="Client Avatar" class="h-16 w-16 object-cover rounded-full">
        <div class="ml-4">
            <p class="font-semibold text-lg">{clientName}</p>
            <p class="text-gray-600">{fonction}</p>
        </div>
    </div>
</div>
